.content .output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.output .amino-acid {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    max-height: 40vh;
    flex-wrap: wrap;
    -ms-overflow-style: none;
}

.amino-acid::-webkit-scrollbar {
    display: none;
}

.output .card {
    background-color: #cccccc;
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.output .card p {
    font-size: 13px;
}

.codon-cell {
    background-color: #cccccc;
    height: 40px;
    width: 130px;
    display: flex;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 13px;
}

.lorf {
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    overflow: auto;
    max-width: 50vw;
}
